<%- include('../../Partials/Statics/Head', {page: '- News'}) %>

<body class="news-view">
    <%- include('../../Partials/Statics/Navbar') %>
    <main class="page-wrapper">
        <div>
            <!-- Page container -->
            <div class="container my-5">
                <div class="container-fluid px-xxl-5 px-lg-4 pt-2 pt-lg-4 pb-2 pb-lg-4 mb-5">
                    <div class="card card-deep-shadow px-5 pt-3" style="border: none;">
                    <!-- Page title -->
                    <div
                        class="d-sm-flex align-items-end justify-content-between ps-lg-2 ps-xxl-0 mt-2 mt-lg-0 pt-4 mb-n3"
                    >
                        <div class="me-4">
                            <h1 class="pb-1">News</h1>
                            <p class="text-muted fs-lg mb-2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>

                    <!-- Example news text -->
                    <section id="type-headings" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
                        <h2 class="h4">Article 1</h2>
                        <p>
                            Mauris ultricies sem nec vulputate malesuada. Quisque tristique ornare aliquam. Suspendisse
                            mauris justo, volutpat non volutpat sed, lacinia at arcu. Nunc vel malesuada libero. Donec a
                            neque faucibus, euismod ex sit amet, maximus mauris. Vestibulum felis tortor, semper eu
                            tincidunt non, cursus sed eros. Donec rutrum eget metus iaculis blandit. Nulla dui libero,
                            interdum sit amet molestie eu, porttitor a turpis. Phasellus risus nulla, fermentum at orci
                            et, dapibus molestie ante. Maecenas interdum orci nec elementum ornare. Nullam eget nulla
                            mauris. Nunc vel dictum sem. Nullam erat nulla, sodales commodo semper ut, gravida vel
                            magna.
                        </p>
                    </section>

                 
                    <section id="type-displays" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
                        <h2 class="h4">Article 2</h2>
                        <p>
                            Mauris ultricies sem nec vulputate malesuada. Quisque tristique ornare aliquam. Suspendisse
                            mauris justo, volutpat non volutpat sed, lacinia at arcu. Nunc vel malesuada libero. Donec a
                            neque faucibus, euismod ex sit amet, maximus mauris. Vestibulum felis tortor, semper eu
                            tincidunt non, cursus sed eros. Donec rutrum eget metus iaculis blandit. Nulla dui libero,
                            interdum sit amet molestie eu, porttitor a turpis. Phasellus risus nulla, fermentum at orci
                            et, dapibus molestie ante. Maecenas interdum orci nec elementum ornare. Nullam eget nulla
                            mauris. Nunc vel dictum sem. Nullam erat nulla, sodales commodo semper ut, gravida vel
                            magna.
                        </p>
                    </section>

                 
                    <section id="type-displays" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
                        <h2 class="h4">Article 3</h2>
                        <p>
                            Mauris ultricies sem nec vulputate malesuada. Quisque tristique ornare aliquam. Suspendisse
                            mauris justo, volutpat non volutpat sed, lacinia at arcu. Nunc vel malesuada libero. Donec a
                            neque faucibus, euismod ex sit amet, maximus mauris. Vestibulum felis tortor, semper eu
                            tincidunt non, cursus sed eros. Donec rutrum eget metus iaculis blandit. Nulla dui libero,
                            interdum sit amet molestie eu, porttitor a turpis. Phasellus risus nulla, fermentum at orci
                            et, dapibus molestie ante. Maecenas interdum orci nec elementum ornare. Nullam eget nulla
                            mauris. Nunc vel dictum sem. Nullam erat nulla, sodales commodo semper ut, gravida vel
                            magna.
                        </p>
                    </section>

                 
                </div>
            </div>
            </div>
        </div>
    </main>
    <%- include('../../Partials/Statics/Footer') %>
</body>
