<%- include('../../Partials/Statics/Head', {page: "- " + 'Register'}) %>

<body>
  <main class="page-wrapper d-grid" style="place-content: center;">
      <%- include('../../Partials/Statics/Navbar') %>
      
      <section class="../../position-relative h-100 pt-5 pb-4">
        
        <%- include('../../Partials/components/flashMessages') %>


         <div class="container d-flex flex-wrap justify-content-center align-content-center h-100">
           <div class="w-100 card card-deep-shadow align-self-end p-5" style="max-width: 526px;">
            
            <h1 class="text-center">Welcome Back</h1>
            <p class="text-center pb-3 mb-3">Don’t have an account yet? <a href="/register">Register here.</a></p>
            <form action='/login' method="POST" class="needs-validation mb-2">
               <div class="row">
                <div class="position-relative mb-4">
                  <label for="username" class="form-label fs-base">Username</label>
                  <input type="text" id="username" class="form-control form-control-lg" name="username" minlength="3" maxlength="25" placeholder="Type your Username..." required>
                </div>
                <div class="mb-4">
                  <label for="password" class="form-label fs-base">Password</label>
                  <div class="password-toggle">
                    <input type="password" id="password" class="form-control form-control-lg" name="password" minlength="8" maxlength="200" placeholder="Type your Password..." required>
                  </div>
                </div>
                <div class="mb-4">
                 <a href="#" class="btn btn-link btn-lg w-100">Forgot your password?</a>
                </div>
               </div>
               <button type="submit" class="btn btn-primary shadow-primary btn-lg w-100">Log In</button>
             </form>
           </div>
         </div>
         
   </section>
     </main>

  </body>
</html>