@use "sass:map";
// 
// user-variables.scss
// Use this to override Bootstrap and Finder variables
//

// Example of a variable override to change Finder background color
// Remove the "//" to comment it in and see it in action!

$nav-bar-height-mobile: 4rem;
$nav-bar-height-large: 5rem;

// media-queries break points
$min-width-bp: map.get($grid-breakpoints, "md");
$max-width-bp: calc(map.get($grid-breakpoints, "md") - 1px);