<div class="timestamp">
    <div class="timestamp-left opacity-35"></div>
    <div class="timestamp-time">
        <%= TIMESTAMP %>
    </div>
    <div class="timestamp-right opacity-35"></div>
</div>